* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.47059;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-family: "sfBoldFontDisBold", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  font-weight: 400;
}

ul,
a {
  text-decoration: none;
  list-style-type: none;
}

h2 {
  margin-top: 20px;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: -0.005em;
}

h3 {
  font-size: 28px;
  line-height: 1.10722;
  letter-spacing: 0.004em;
  margin-top: 6px;
}

section {
  text-align: center;
}
hr {
  height: 1px;
  background-color: $footer-border-color;
  border: none;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-top {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1em;
  justify-content: space-between;
}

.section-90vh {
  height: $content-height;
  width: 100%;
}

.margin-sec-top {
  margin-top: 10px;
}

.icon-chevron-right {
  position: relative;
}

.icon-chevron-right:hover {
  text-decoration: underline;
}

.icon-chevron-right::after {
  content: ">";
  position: absolute;
  padding-left: 0.3em;
}

.blue-links {
  display: inline-block;
  font-size: 21px;
  line-height: 1.381;
  letter-spacing: 0.011em;
  font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
    sans-serif;
  text-align: center;
  margin: 0 22px;
  margin-top: 9px;
  color: $link-text;
}

.bg-fit {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.content-padding {
  padding-top: $global-section-height;
}

.make-grid {
  display: grid;
  width: 100%;
}

.footer-nav {
  flex-basis: 25%;

  ul li a {
    color: $footer-link-color;
  }

  ul li a:hover {
    text-decoration: underline;
  }
}
.left-border {
  border-left: 1px solid $footer-border-color;
}

.flex-grow {
  flex-grow: 2;
  display: flex;
  align-items: left;
}

.mark-new {
  color: $mark-new-color;
  font-size: 17px;
}

.white-text {
  color: $white-text;
}
