$nav-bg-color: #333333;
$shop-now-menu-bg-color: #e34140;
$black-text: #1d1d1f;
$white-text: #f5f5f7;
$light-grey-text: #d6d6d6;
$link-text: #1371d0;
$section1-bg-color: #fbedf9;
$section3-text-color: #fbc0e9;
$content-height: 580px;
$global-section-height: 3em;
