$nav-bg-color: #333333;
$shop-now-menu-bg-color: #e34140;
$black-text: #1d1d1f;
$white-text: #f5f5f7;
$link-text: #06c;
$footer-link-color: #424245;
$footer-text-color: #6e6e73;
$footer-border-color: #d2d2d7;
$section1-bg-color: #fbedf9;
$section3-text-color: #fbc0e9;
$footer-bg-color: #f5f5f7;
$content-height: 580px;
$global-section-height: 3em;
