@import "variables";
@import "fonts";
@import "utilities";

// ! main navbar

.background-nav {
  background-color: $nav-bg-color;
  opacity: 95%;
  width: 100vw;
  position: fixed;
}

.global-nav {
  margin: 0 auto;
  max-width: 980px;

  ul {
    cursor: pointer;
    margin: 0 -8px;
    width: auto;
    height: 44px;
    justify-content: space-around;
  }

  &-item {
    list-style: none;
    font-size: 12px;
    color: $white-text;
    opacity: 80%;
    padding: 0 8px;
  }

  &-item:hover {
    opacity: 100%;
  }

  a {
    color: $white-text;
    opacity: 80%;
    text-decoration: none;
  }

  a:hover {
    opacity: 100%;
  }
}

// ! second navbar

.shop-now-menu {
  background-color: $shop-now-menu-bg-color;
  height: 44px;

  p {
    color: $white-text2;
    font-size: 14px;
  }

  &-link {
    cursor: pointer;
    padding: 0 5px;
  }

  &-link a {
    color: $white-text2;
    text-decoration: none;
    font-size: 14px;
  }

  &-link:hover a {
    text-decoration: underline;
  }
}

// ! section 1

.section1 {
  background-color: $section1-bg-color;
}
